  .about{
    &__container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;
    }

    &__descr{
      font-size: 1.2rem;
      font-weight: 400;
      text-align: left;
    }

    &__imageCont{
      padding: 2rem 0rem;
    }
  }
