.footer{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 4rem;
  width: 100vw;
  
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 576px) {
      gap: .5rem;
    }

    &_heading{
      font-size: 1.2rem;
      font-weight: 600;
    }

    &_tel:hover,&_address:hover,&_email:hover{
      color: green;
      font-weight: 600;
    }
  }

  &__popular{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 576px) {
      gap: .5rem;
    }

    &_itemsCont{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (max-width: 576px) {
        gap: .5rem;
      }
    }
    
    &_item{
      font-size: 1rem;

      &:hover{
        color: green;
      }
    }
  }

  &__socialButton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 576px) {
      gap: .5rem;
    }

    &_contactus{
      padding: 1rem;
      border: 1px solid rgb(160, 152, 152);
      border-radius: .3rem;
      text-align: center;

      @media (max-width: 576px) {
        padding: .5rem 1rem;
      }
    }

    &__social{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      border: 1px solid rgb(160, 152, 152);
      border-radius: .3rem;

      @media (max-width: 576px) {
        padding: .5rem 1rem;
      }

      &-image{
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
