*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins_regualr',sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0rem auto;
  // overflow: hidden;  

  &__small {
    max-width: 1156px;
    margin: 0rem auto;
    
    @media (max-width: 1199px) {
     width: 90%;
    }
  }
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  max-width: 100%;
}
