.topMenu {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 20px;
  border-bottom: 1px solid #E2E0E0;
  position: relative;

  @media (max-width: 1199px ) {
    gap: 3rem;
    padding: 1rem;
  }

  @media (max-width: 576px) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    background: #fff;
    max-height: 500px;
  } 

  &__logCont {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 1199px) {
      gap: .6rem;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__menuItems{
    font-size: 1rem;
    font-weight: 600;
    color: #434040;
    transition: .2s;
    &:hover{
      color: #ABFF63;
    }

    @media (max-width: 1199px) {
      font-size: 10px;
    }

    @media (max-width: 576) {
      font-size: 10px;
    }
  }

  &__buttonCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__subscribe{
    padding: .8rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, #36BE58, #ABFF63 90%);
    border-radius: .5rem;

    @media (max-width: 576px) {
      margin-bottom: 1rem;
      width: 80%;
    }
  }

  &__mobileMenu{
    display: none;

    @media (max-width: 576px) {
      display: flex ;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__icon{
        transition: ease-out;
        animation: .9s ease-in-out;
      }
    }

    &__tabsCont{
      position: absolute;
      width: 100%;
      right: 0px;
      top: 4rem;
      background: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      
      @media (max-width: 576px) {
        display: none;
        
      }
    }

    &__menuItems{
      font-size: 1rem;
      font-weight: 600;
      color: #434040;
      transition: .2s;
      padding: .5rem 1rem;
      display: block;

      &:hover{
        color: #ABFF63;
      }

      &:active{
        color: #ABFF63;
      }
    }

    &-image{
      height: 2rem;
      width: 2rem;
      display: block;
    }
  }
}

